#outer {
    display:flex;
    flex-direction: row;


   justify-content: center;
   
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
background-color: gray;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    
  }
  .box :nth-child(1){
background-color: grey;


  }
  .box :nth-child(2){
background-color: rgb(191, 186, 186);

  }
  .box :nth-child(3){
    background-color: white;
  }