#outer {
    display:flex;
    flex-direction: row;
   justify-content: center;
  }
  .box{
color: white;
justify-content: center;
align-content: space-around;
padding-top: 40px;
padding-left: 40px;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 40px;
  }
  .box:nth-child(1){
background-color: rgb(67, 65, 65);
  }
  .box:nth-child(2){
background-color: rgb(164, 150, 150);

  }
.box:nth-child(3){
    background-color: rgb(229, 229, 234);
  }

