#outer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box{
color: white;
align-content: space-around;
padding-top: 40px;
padding-left: 40px;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 40px;
  }
  .box:nth-child(1){
    position: fixed;
    top: 0%;
    left: 0%;
    justify-content: space-between;
background-color: rgb(67, 65, 65);
  }
  .box:nth-child(2){
    justify-content: space-between;
background-color: rgb(164, 150, 150);
position: fixed;
right: 50%;
top: 50%;

  }
.box:nth-child(3){
justify-content:space-between;
    background-color: rgb(229, 229, 234);
    position: fixed;
    right: 0;
    bottom: 0;
  }

