body {
    background-color: grey;
}
.A{
    outline-style: solid;
    outline-color: red;
    text-align: center;
    background-color: yellow;
    position: static;
    width: 80%;
    margin-right: 30%;
    margin-left: 1%;
    
}
.B{
outline-style: solid;
outline-color: blue;
background-color: white;
text-align: center;
position: absolute;
width: 80%;
margin-left: 10%;
}
