div#calendar{
  margin:0px auto;
  padding:0px;
  width: 602px;
}

div#calendar div.box{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	background-color: 	#787878 ;		
}

div#calendar div.header{
	line-height:40px;	
	vertical-align:middle;
	position:absolute;
	left:11px;
	top:0px;
	width:582px;
	height:40px;	
	text-align:center;
}

div#calendar div.header a.prev,div#calendar div.header a.next{	
	position:absolute;
	top:0px;	
	height: 17px;
	display:block;
	cursor:pointer;	
	text-decoration:none;
	color:#FFF;
}

div#calendar div.header span.title{
	color:#FFF;
	font-size:18px;
}


div#calendar div.header a.prev{	
	left:0px;
}

div#calendar div.header a.next{	
	right:0px;
}



div#calendar div.box-content{
	border:1px solid #787878 ;
	border-top:none;
}



div#calendar ul.label{
	float:left;
	margin: 0px;
    padding: 0px;
	margin-top:5px;
	margin-left: 5px;
}

div#calendar ul.label li{
	margin:0px;
	padding:0px;
	margin-right:5px;	
	float:left;
	list-style-type:none;
	width:80px;
	height:40px;
	line-height:40px;
	vertical-align:middle;
	text-align:center;
	color:#000;
	font-size: 15px;
	background-color: transparent;
}


div#calendar ul.dates{
	float:left;
	margin: 0px;
    padding: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
}

div#calendar ul.dates li{
	margin:0px;
	padding:0px;
	margin-right:5px;
	margin-top: 5px;
	line-height:80px;
	vertical-align:middle;
	float:left;
	list-style-type:none;
	width:80px;
	height:80px;
	font-size:25px;
	background-color: #DDD;
	color:#000;
	text-align:center;	
}

div.wrapperdomkow {
    position: relative;
}

div.domki {
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.3); */
    bottom:0;
    left:0;
	height: 20px;
    width:100%;
	font-size: 14px;
	line-height: 100%;
    text-align: right;
	padding-right: 5px;
}

span.domek-czerwony {
	color: #D22;
}
span.domek-niebieski {
	color: #24F;
}
span.domek-czarny {
	color: #222;
}
:focus{
	outline:none;
}

div.clear{
	clear:both;
}