.blue {
color:blue; 
}
.red {
    color:red;
}
.green {
    color: green;
}
.wyrownanie {
    text-align: right;
}
.grubosc {
    border-width: thick;
}
.tabelka {
    border: 2px solid black;
    float: left;
    margin-left: 0;
   
   
}
.td {
    border: 4px solid black;
    height: auto;
    width: auto;
}
.wyrownanie {
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

.div1{
    
  }

.link{                                     
    color: red;
    text-decoration-line: underline;
}
.link:hover{          
color: blue;
text-decoration-line: overline;
}
.link:visited{             
    color: green;
    text-decoration-line: underline;
}
.link:active{           
    color:blue;
    text-decoration-line: none;
}