body {
    align-content: center;
    background-color: grey;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
}

.A{
    align-content: space-around;

position: relative;
left: 30px;
}
.B{
    align-content: space-around;
position: relative;
left: 30px;
bottom: 30px;
}
.C{
    align-content: center;
    background-color: yellow;
    outline: red;
    outline-style: solid;
padding: 20px;
align-items: center;
margin-bottom: 
;}